In [1]:
import pandas as pd

In [3]:
pd.read_json("/home/sachin/Downloads/archive (5)/train.json")
# here we are importing the json data with the help of pandas

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [4]:
#  we can also import the JSON data from API KEY

In [5]:
pd.read_csv("https://api.exchangerate-api.com/v4/latest/INR")

Empty DataFrame
Columns: [{"provider":"https://www.exchangerate-api.com", WARNING_UPGRADE_TO_V6:"https://www.exchangerate-api.com/docs/free", terms:"https://www.exchangerate-api.com/terms", base:"INR", date:"2024-07-08", time_last_updated:1720396801, rates:{"INR":1, AED:0.044, AFN:0.851, ALL:1.11, AMD:4.65, ANG:0.0214, AOA:10.46, ARS:10.99, AUD:0.0178, AWG:0.0214, AZN:0.0204, BAM:0.0216, BBD:0.0239, BDT:1.41, BGN:0.0216, BHD:0.0045, BIF:34.58, BMD:0.012, BND:0.0162, BOB:0.0827, BRL:0.0655, BSD:0.012, BTN:1, BWP:0.163, BYN:0.0391, BZD:0.0239, CAD:0.0163, CDF:33.94, CHF:0.0108, CLP:11.22, CNY:0.0872, COP:49.01, CRC:6.33, CUP:0.287, CVE:1.22, CZK:0.279, DJF:2.13, DKK:0.0825, DOP:0.707, DZD:1.61, EGP:0.574, ERN:0.18, ETB:0.691, EUR:0.0111, FJD:0.0267, FKP:0.00936, FOK:0.0825, GBP:0.00936, GEL:0.0332, GGP:0.00936, GHS:0.186, GIP:0.00936, GMD:0.766, GNF:102.78, GTQ:0.0929, GYD:2.5, HKD:0.0936, HNL:0.296, HRK:0.0834, HTG:1.58, HUF:4.34, IDR:194.91, ILS:0.0442, IMP:0.00936, IQD:15.67, IRR:507.79, ISK:1.65, JEP:0.00936, JMD:1.87, JOD:0.00849, JPY:1.93, KES:1.54, KGS:1.04, KHR:49.54, KID:0.0178, KMF:5.44, KRW:16.49, KWD:0.00367, KYD:0.00998, KZT:5.73, LAK:264.83, LBP:1071.65, LKR:3.65, LRD:2.33, LSL:0.218, LYD:0.0583, MAD:0.118, MDL:0.214, MGA:53.91, MKD:0.682, MMK:33.86, MNT:40.27, MOP:0.0964, MRU:0.476, ...]
Index: []

[0 rows x 168 columns]

In [ ]:
# These are only two methdos to do read the JSON data.